.test3 {
    color: darkred
}
.test4 {
    color: midnightblue
}
.test5 {
    font-style: italic
}
img {
    width: 150px
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
body {
    color: blue
}

body {
    background:lightgrey
}

	