.test3 {
    color: darkred
}
.test4 {
    color: midnightblue
}
.test5 {
    font-style: italic
}
img {
    width: 150px
}
body {
    font-family: Arial, Helvetica, sans-serif
}
body {
    color: darkviolet
}

body {
    background: lightgrey
}
